.footer{
    /*color: #ffffff;*/
    /*text-align: center;*/
    color: #969494;
}

.navFooter {
  /*display: flex;*/
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(90deg, #1a1a1a 0%, #2c2c2c 100%);
  padding: 1rem 2rem;
  /*box-shadow: 0 2px 12px rgba(0, 0, 0, 0.5);*/
  position: sticky;
  top: 0;
  z-index: 1000;
  min-height: 60px; /* altura fija */
  border-radius: 1rem;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
  color: #969494;
}